{{#each messages}}
    {{#if this.fromUser}} 
        <div class="userMsg">{{this.text}}</div>
    {{else}}
        <div> <p class="strangerMsg">{{this.from}}</p> {{this.text}}</div>
    {{/if}}
{{/each}}
