<div class="logo">
</div>
<div class="inputContainer">
    <h1 class="greeting">Welcome back!</h1>
    {{{ forms }}}
    <a class="loginBtn" id="loginBtn">Log in</a>
    <a class="createAccLink" href="../sign-up">Create account</a>
</div>
<script type="module" src="./auth-script.ts"></script>
