<div class="logo">
</div>
<div class="inputContainer">
    <h1 class="greeting">Welcome back!</h1>
    {{{ forms }}}
    <button class="loginBtn">Log in</button>
    <a class="createAccLink" href="../Reg/Reg.hbs">Create account</a>
</div>
<script type="module" src="./auth-script.ts"></script>