---
---

<head>
    <link rel="stylesheet" href="./404/style.scss" />
</head>
<body>
    <div class="container">
        <h1 class="hugeTitle">404</h1>
        <h1>Failed to load page</h1>
    </div>
</body> 