---
forms: [
    {"name": "login", "type": "text", "placeholder": "First name", "style": "max-width: 49%; margin-right: 1%; margin-top: 0;"}, 
    {"name": "login", "type": "text", "placeholder": "Second name", "style": "max-width: 49%; margin-left: 1%; margin-top: 0;"}, 
    {"name": "login", "type": "text", "placeholder": "Phone"}, 
    {"name": "login", "type": "text", "placeholder": "Email"}, 
    {"name": "login", "type": "text", "placeholder": "Login"}, 
    {"name": "password", "type": "password", "placeholder": "Password"}
    ]
---
<head>
    <link rel="stylesheet" href="RegStyle.scss" />
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form action="Chat.html">
            {{#each forms}}
            <input type="{{this.type}}" name="{{this.name}}" placeholder="{{this.placeholder}}" style="{{this.style}}">
            {{/each}}
            <input class="submitBtn" type="submit" value="Create Account">
        </form>
    </div>
</body>