@import 'genStyles.scss';

.container{
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 2rem;
}

form{
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 2rem;

    input{
        width: 100%;
        margin-top: 1rem;
    }

    .submitBtn{
        background-color: $light-green;
        cursor: pointer;
        &:hover{
            background-color: $dark-green;
            color: $white;
        }
    }
}

