<head>
    <link rel="stylesheet" href="404style.scss" />
</head>
<body>
    <main class="container">
        <h1 class="hugeTitle errTitle">404</h1>
        <p class="errText">Failed to load page</ли>
    </main>
</body>

