@import '../genStyles.scss';

.container-settings{
    display: block;

    h1{
        width: 100vw;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: left;
        height: fit-content;
    }


    .avatar{
        float: left;
        margin: 2rem;
        width: 10vw;
        height: 10vw;
    }

    .wrapper{
        width: 50vw;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
    
        form{
            float: right;
            margin-top: 2rem;
            margin-right: auto;
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            input{
                width: 45%;
                float: right;
            }

            .submitBtn{
                margin-top: 3rem;
                width: 100%;
                border: none;
                background: $light-green;
                color: $dark-green;
                cursor: pointer;

                &:hover{
                    background: $dark-green;
                    color: $white
                }
            }
        }
    }
}